---
- name: 1.1.1.1-5 Ensure mounting of unsafe filesystems is disabled
  lineinfile:
    path: /etc/modprobe.d/CIS.conf
    line: "install {{ item }} /bin/true"
    create: yes
  with_items:
    - cramfs
    - hfs
    - hfsplus
    - squashfs
    - udf
  notify: rebuild initramfs

- name: 1.1.2 Ensure /tmp is configured
  mount:
    path: /tmp
    src: /tmp
    fstype: tmpfs
    opts: defaults,noexec,nosuid,nodev
    state: present

- name: 1.1.6-7,11-13,17 Ensure separate partitions exist
  block:
    - name: Check if separate partitions exist
      shell: |
        for partition in /var /var/tmp /var/log /var/log/audit /home; do
          mountpoint -q "$partition" || echo "$partition"
        done
      register: missing_partitions
      changed_when: false

    - name: Create separate partitions (placeholder)
      debug:
        msg: "Partitions {{ missing_partitions.stdout_lines }} need to be created manually as this requires storage reconfiguration"
      when: missing_partitions.stdout_lines | length > 0

    - name: 1.1.17 Ensure noexec option set on /dev/shm
      mount:
        path: /dev/shm
        src: tmpfs
        fstype: tmpfs
        opts: defaults,noexec,nosuid,nodev
        state: present

- name: 1.5.1 Ensure core dumps are restricted
  sysctl:
    name: fs.suid_dumpable
    value: '0'
    sysctl_file: /etc/sysctl.d/60-CIS.conf
    state: present
    reload: yes

- name: 1.5.2 Ensure address space layout randomization (ASLR) is enabled
  sysctl:
    name: kernel.randomize_va_space
    value: '2'
    sysctl_file: /etc/sysctl.d/60-CIS.conf
    state: present
    reload: yes

- name: 1.6.1.6 Ensure no unconfined daemons exist
  command: ps -eZ | grep unconfined_service_t
  register: unconfined_daemons
  changed_when: false
  failed_when: unconfined_daemons.stdout != ""
  ignore_errors: yes

- name: 1.7.1.1-3 Ensure banners are configured properly
  block:
    - name: Configure MOTD
      copy:
        src: banner
        dest: /etc/motd
        owner: root
        group: root
        mode: 0644

    - name: Configure local login banner
      copy:
        src: banner
        dest: /etc/issue
        owner: root
        group: root
        mode: 0644

    - name: Configure remote login banner
      copy:
        src: banner
        dest: /etc/issue.net
        owner: root
        group: root
        mode: 0644
