---
- name: 3.1.1 Ensure IP forwarding is disabled
  sysctl:
    name: net.ipv4.ip_forward
    value: '0'
    sysctl_file: /etc/sysctl.d/60-CIS.conf
    state: present
    reload: yes

- name: 3.1.2 Ensure packet redirect sending is disabled
  sysctl:
    name: "{{ item }}"
    value: '0'
    sysctl_file: /etc/sysctl.d/60-CIS.conf
    state: present
    reload: yes
  with_items:
    - net.ipv4.conf.all.send_redirects
    - net.ipv4.conf.default.send_redirects

- name: 3.2.1-9 Network parameters configuration
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    sysctl_file: /etc/sysctl.d/60-CIS.conf
    state: present
    reload: yes
  with_items:
    - { name: net.ipv4.conf.all.accept_source_route, value: '0' }
    - { name: net.ipv4.conf.default.accept_source_route, value: '0' }
    - { name: net.ipv4.conf.all.accept_redirects, value: '0' }
    - { name: net.ipv4.conf.default.accept_redirects, value: '0' }
    - { name: net.ipv4.conf.all.secure_redirects, value: '0' }
    - { name: net.ipv4.conf.default.secure_redirects, value: '0' }
    - { name: net.ipv4.conf.all.log_martians, value: '1' }
    - { name: net.ipv4.conf.default.log_martians, value: '1' }
    - { name: net.ipv4.icmp_echo_ignore_broadcasts, value: '1' }
    - { name: net.ipv4.icmp_ignore_bogus_error_responses, value: '1' }
    - { name: net.ipv4.conf.all.rp_filter, value: '1' }
    - { name: net.ipv4.conf.default.rp_filter, value: '1' }
    - { name: net.ipv4.tcp_syncookies, value: '1' }
    - { name: net.ipv6.conf.all.accept_ra, value: '0' }
    - { name: net.ipv6.conf.default.accept_ra, value: '0' }

- name: 3.4.1-4 Ensure DCCP, SCTP, RDS, TIPC are disabled
  lineinfile:
    path: /etc/modprobe.d/CIS.conf
    line: "install {{ item }} /bin/true"
    create: yes
  with_items:
    - dccp
    - sctp
    - rds
    - tipc
  notify: rebuild initramfs
 
- name: 3.5.2.1-2 Configure IPv6 firewall
  block:
    - name: Ensure IPv6 default deny firewall policy
      command: ip6tables -P INPUT DROP
      changed_when: false

    - name: Ensure IPv6 loopback traffic is configured
      command: ip6tables -A INPUT -i lo -j ACCEPT
      changed_when: false
  ignore_errors: true 
- name: 3.6 Disable IPv6
  block:
    - name: Disable IPv6 via sysctl
      sysctl:
        name: "{{ item }}"
        value: '1'
        sysctl_file: /etc/sysctl.d/60-CIS.conf
        state: present
        reload: yes
      with_items:
        - net.ipv6.conf.all.disable_ipv6
        - net.ipv6.conf.default.disable_ipv6

    - name: Disable IPv6 kernel module
      lineinfile:
        path: /etc/modprobe.d/ipv6.conf
        line: "options ipv6 disable=1"
        create: yes
      notify: rebuild initramfs
