---
- name: 4.1.1.2-3 Configure auditd
  block:
    - name: Configure auditd to halt when disk is full
      lineinfile:
        path: /etc/audit/auditd.conf
        regexp: '^space_left_action'
        line: 'space_left_action = email'
        state: present
      
      lineinfile:
        path: /etc/audit/auditd.conf
        regexp: '^action_mail_acct'
        line: 'action_mail_acct = root'
        state: present

      lineinfile:
        path: /etc/audit/auditd.conf
        regexp: '^admin_space_left_action'
        line: 'admin_space_left_action = halt'
        state: present

      lineinfile:
        path: /etc/audit/auditd.conf
        regexp: '^max_log_file_action'
        line: 'max_log_file_action = keep_logs'
        state: present
      ignore_errors: true  
    - name: Enable and start auditd
      service:
        name: auditd
        state: started
        enabled: yes
      ignore_errors: true 
- name: 4.1.3 Ensure auditing for processes that start prior to auditd is enabled
  lineinfile:
    path: /etc/default/grub
    regexp: '^GRUB_CMDLINE_LINUX='
    line: 'GRUB_CMDLINE_LINUX="audit=1"'
    state: present
  notify: update grub
  ignore_errors: true

- name: 4.1.4-18 Configure audit rules
  copy:
    src: audit.rules
    dest: /etc/audit/rules.d/audit.rules
    owner: root
    group: root
    mode: 0640
  notify: restart auditd
  ignore_errors: true

- name: 4.1.18 Ensure the audit configuration is immutable
  lineinfile:
    path: /etc/audit/rules.d/audit.rules
    insertafter: EOF
    line: "-e 2"
    state: present
  notify: restart auditd
  ignore_errors: true


- name: 4.2.1.3-4 Configure rsyslog
  block:
    - name: Determine package manager
      ansible.builtin.command:
        cmd: "which yum || which dnf || which apt-get || which zypper"
        register: package_manager_path
        changed_when: false
      ignore_errors: true
      
    - name: Set facts for package manager
      ansible.builtin.set_fact:
        pkg_mgr: "{% if 'yum' in package_manager_path.stdout %}yum{% elif 'dnf' in package_manager_path.stdout %}dnf{% elif 'apt-get' in package_manager_path.stdout %}apt{% elif 'zypper' in package_manager_path.stdout %}zypper{% else %}auto{% endif %}"
      ignore_errors: true

    - name: Ensure rsyslog is installed
      ansible.builtin.package:
        name: rsyslog
        state: present
        use: "{{ pkg_mgr }}"
      when: pkg_mgr != 'unknown'
      ignore_errors: true
      
    - name: Configure rsyslog default file permissions
      ansible.builtin.lineinfile:
        path: /etc/rsyslog.conf
        regexp: '^\$FileCreateMode'
        line: '$FileCreateMode 0640'
        state: present
        backup: yes
      notify: restart rsyslog
      ignore_errors: true
      
    - name: Configure remote logging
      ansible.builtin.template:
        src: rsyslog.conf.j2
        dest: /etc/rsyslog.conf
        owner: root
        group: root
        mode: 0644
        backup: yes
      notify: restart rsyslog
      ignore_errors: true

- name: 4.2.4 Ensure permissions on all logfiles are configured
  command: find /var/log -type f -exec chmod g-wx,o-rwx {} +
  changed_when: false
  ignore_errors: true
